
<nav class="navbar bg-info">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: unset !important;">
            <ul class="nav nav-pills mr-auto justify-content-end">
                <li class="nav-item dropdown"  style="margin-right:120px; height: 40px;">
                </li>
            </ul>
        </div>
    </nav>
    <div class="row mt-2 ml-2 mr-2">
        <div class="col-sm-4">
                <p-card header="Completion by course/track" [style]="{width: '100%'}">
                    <p-tabView>
                        <p-tabPanel header="Course" class="p-5">
                            <svg  width="100%" height="400px" id="courseContainer"
                            class="associations"
                            #courseContainer>
                            </svg>
                        </p-tabPanel>
                        <p-tabPanel header="Track" class="p-5">
                            <svg width="100%" height="400px" id="trackContainer"
                            class="associations"
                            #courseContainer>
                            </svg>
                        </p-tabPanel>
                </p-tabView>
            </p-card>
        </div>
        <div class="col-sm-4">
            <p-card header="Candidate Satisfication Score by course/track" [style]="{width: '100%'}">
                <p-tabView>
                    <p-tabPanel header="Course" class="p-5">
                        <svg  width="100%" height="400px" id="csContainer"
                        class="associations"
                        #courseContainer>
                        </svg>
                    </p-tabPanel>
                    <p-tabPanel header="Track" class="p-5">
                        <svg width="100%" height="400px" id="tsContainer"
                        class="associations"
                        #courseContainer>
                        </svg>
                    </p-tabPanel>
                </p-tabView>
            </p-card>
        </div>
        <div class="col-sm-4">
            <p-card header="Candidate Ratings by courses/tracks" [style]="{width: '100%'}">
                <p-tabView>
                    <p-tabPanel header="Course" class="p-5">
                        <svg  width="100%" height="400px" id="crContainer"
                        class="associations"
                        #courseContainer>
                        </svg>
                    </p-tabPanel>
                    <p-tabPanel header="Track" class="p-5">
                        <svg width="100%" height="400px" id="trContainer"
                        class="associations"
                        #courseContainer>
                        </svg>
                    </p-tabPanel>
                </p-tabView>
            </p-card>
        </div>
    </div>
    <div class="row mt-2 ml-2 mr-2">
        <div class="col-sm-4">
            <p-card header="Most Subscribed by courses/tracks" [style]="{width: '100%'}">
                <p-tabView>
                    <p-tabPanel header="Course" class="p-5">
                        <svg  width="100%" height="400px" id="msContainer"
                        class="associations"
                        #courseContainer>
                        </svg>
                    </p-tabPanel>
                    <p-tabPanel header="Track" class="p-5">
                        <svg width="100%" height="400px" id="mtContainer"
                        class="associations"
                        #courseContainer>
                        </svg>
                    </p-tabPanel>
                </p-tabView>
            </p-card>
        </div>
        <div class="col-sm-4">
            <p-card header="Time taken by candidate for each course/track" [style]="{width: '100%'}">
                <p-tabView>
                    <p-tabPanel header="Course" class="p-5">
                        <svg  width="100%" height="400px" id="ttcContainer"
                        class="associations"
                        #courseContainer>
                        </svg>
                    </p-tabPanel>
                    <p-tabPanel header="Track" class="p-5">
                        <svg  width="100%" height="400px" id="tttContainer"
                        class="associations"
                        #courseContainer>
                        </svg>
                    </p-tabPanel>
                </p-tabView>
            </p-card>
        </div>
        <div class="col-sm-4">
                <p-card header="Aggregated Time by each course/track" [style]="{width: '100%'}">
                    <p-tabView>
                        <p-tabPanel header="Course" class="p-5">
                            <svg  width="100%" height="400px" id="atcContainer"
                            class="associations"
                            #courseContainer>
                            </svg>
                        </p-tabPanel>
                        <p-tabPanel header="Track" class="p-5">
                            <svg  width="100%" height="400px" id="attContainer"
                            class="associations"
                            #courseContainer>
                            </svg>
                        </p-tabPanel>
                    </p-tabView>
            </p-card>
        </div>
    </div>
